# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dotenv environment variables file
.env
.env.test
REACT_APP_TR_ORGANIZATION=3ef7310f-135d-4869-b163-d286de4a2ba9
REACT_APP_TR_DATASET=82eefb7f-5d0b-4122-8e6f-6fd657e5403a
REACT_APP_AUTHORIZATION=tr-Ty6pILtYurl8oVHOWj1N32JNTJIjDS9R